@model TP3.Models.Customer

<h2>Create Customer</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MembershipType_id" class="control-label"></label>
        <select asp-for="MembershipType_id" class="form-control" asp-items="@(new SelectList(ViewBag.MembershipTypes, "Id", "SignUpFee"))">
            <option value="">Select Membership Type</option>
        </select>
        <span asp-validation-for="MembershipType_id" class="text-danger"></span>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
